
.search-box {

}

.search-box .text-field {
	-fx-min-height: 45px;
	-fx-max-height: 45px;
	-fx-background-radius: 15px 0 0 15px;
	-fx-background-color: #fff; /* Lys bakgrun */
	-fx-border-color: transparent; /* Hjemme border */
	-fx-padding: 0 30px 0 10px; /* Padding for kanpp inne i tekstfeldt */
}

.search-box .search-button {
	-fx-background-radius: 15px;
	-fx-min-width: 40px;
	-fx-max-width: 40px;
	-fx-min-height: 45px;
	-fx-max-height: 45px;
	-fx-cursor: hand; /* Riktig musepeker på hover */
	-fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #4D4D4D, #333333);
	-fx-text-fill: #fff; /* Hvit tekst */
	-fx-background-radius: 0 15px 15px 0; /* Runde hjørner på venstre side */

}

.search-box-toggle{
	-fx-min-width: 45px;
	-fx-max-width: 45px;
	-fx-min-height: 45px;
	-fx-max-height: 45px;
	-fx-cursor: hand; /* Riktig musepeker på hover */
	-fx-background-color: linear-gradient(from 0% 0% to 100% 0%, #4D4D4D, #333333);
	-fx-text-fill: #fff; /* Hvit tekst */
	-fx-background-radius: 50%; /* Runde hjørner på venstre side */
}

.search-box .search-options {
	-fx-padding: 0;
	-fx-min-width: 120px;
	-fx-max-width: 120px;
	-fx-min-height: 45px;
	-fx-max-height: 45px;
	-fx-background-radius: 0;
	-fx-cursor: hand; /* Riktig musepeker på hover */
	-fx-text-fill: #fff; /* Hvit tekst */
	-fx-background-color: #52BF6A;
	-fx-border-style: none;
}

.advanced-search-drawer{
	-fx-background-color: #efefef; /* Mørk bakgrunn */
	-fx-border-color: #333333; /* Hjemme border */
	-fx-border-width: 0 1 0 0; /* Border på høyre side */
	-fx-border-radius: 0 0 0 0; /* Runde hjørner på høyre side */
	-fx-min-width: 300px;
	-fx-max-width: 300px;
	-fx-min-height: 800px;
	-fx-max-height: 800px;
}

.search-box .search-options:hover {
	-fx-background-color: #418A54; /* mørkegrønn bg på hover */
}
.advanced-search-button{
	-fx-background-color: #52BF6A;
	-fx-text-fill: #fff;
	-fx-border-style: none;
	-fx-min-width: 200px;
	-fx-max-width: 200px;
}
.search-box .search-button:hover {
	-fx-background-color: #000; /* Lysegrå bg på hover */
}
